layout {

    focus-ring {
        active-color   "#9ecfd5"
        inactive-color "#111414"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9ecfd5"
        inactive-color "#111414"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9ecfd5"
        inactive-color "#0d4348"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9ecfd580"
    }
}

recent-windows {
    highlight {
        active-color "#9ecfd5"
        urgent-color "#ffb4ab"
    }
}
