layout {

    focus-ring {
        active-color   "#eddd8e"
        inactive-color "#2d2b33"
        urgent-color   "#e56c6c"
    }

    border {
        active-color   "#eddd8e"
        inactive-color "#2d2b33"
        urgent-color   "#e56c6c"
    }

    shadow {
        color "#42424270"
    }

    tab-indicator {
        active-color   "#eddd8e"
        inactive-color "#b19717"
        urgent-color   "#e56c6c"
    }

    insert-hint {
        color "#eddd8e80"
    }
}

recent-windows {
    highlight {
        active-color "#eddd8e"
        urgent-color "#e56c6c"
    }
}
