layout {

    focus-ring {
        active-color   "#e6a6c8"
        inactive-color "#10111b"
        urgent-color   "#f08a9b"
    }

    border {
        active-color   "#e6a6c8"
        inactive-color "#10111b"
        urgent-color   "#f08a9b"
    }

    shadow {
        color "#05060a70"
    }

    tab-indicator {
        active-color   "#e6a6c8"
        inactive-color "#ba1f72"
        urgent-color   "#f08a9b"
    }

    insert-hint {
        color "#e6a6c880"
    }
}

recent-windows {
    highlight {
        active-color "#e6a6c8"
        urgent-color "#f08a9b"
    }
}
